<!doctype html>
<html>
  <head>
    <title>My Little Webapp: Coding Is Magic</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
    <h1>My Rails Girls Diary</h1>
    <div>
      <h2>Submitted a Rails Girls application</h2>
      <p>1.02.2014</p>
      <p>Just submitted an application to a Rails Girls workshop. Can't wait to see whether I'll get in!</p>
      <p>rails</p>
      <h2>railsgirls</h2>
      <p>21.05.2016</p>
      <p>karolina</p>
    </div>
    <div>
      <h1>moje ulubione strony</h1>
      <ul>
        <li><a href="http://railsgirls.com">Rails Girls</a></li>
        <li><a href="https://www.google.pl/?gws_rd=ssl">Google</a></li>
        <li><a href="https://www.youtube.com/">YouTube</a></li>
      </ul>
    </div>
  </body>
</html>
